 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/whayes-1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 420px;
}

.u-section-1 .u-group-1 {
  width: 807px;
  min-height: 379px;
  margin: 21px auto 21px 0;
}

.u-section-1 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 20px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 665px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 136px;
    margin-right: 154px;
    margin-left: 16px;
    position: relative;
  }

  .u-section-1 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 510px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 478px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 440px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 38px;
  margin-bottom: 28px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 374px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 23px;
}

.u-section-2 .u-image-1 {
  width: 229px;
  height: 229px;
  background-image: url("images/312202014110-8dt2wkivvq-remedial-schools-1.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: 35px 67px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 374px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 68px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 216px;
    height: 216px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }
}

.u-section-2 .u-image-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-2 .u-image-1:hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: rotate(0deg) translateX(2px) translateY(20px) !important;
} .u-section-3 {
  background-image: url("images/312bbb205d3176735520f81c2f0e62da860048c15a52d77a31cdfcc98ecea19c45ddd71039dd14f13f74eecc9240014626d491c589eae57ac30366_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 646px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  width: 740px;
  margin: 84px auto 0;
}

.u-section-3 .u-table-1 {
  width: 1050px;
  margin: 37px auto 0;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.875rem;
  text-transform: none;
}

.u-section-3 .u-table-cell-1 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-3 .u-table-cell-2 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-3 .u-table-cell-3 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-3 .u-table-body-1 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-3 .u-table-cell-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-3 .u-table-cell-5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-3 .u-table-cell-6 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-3 .u-table-cell-7 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-3 .u-table-cell-8 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-3 .u-table-cell-9 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-3 .u-table-cell-10 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-3 .u-table-cell-11 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-3 .u-table-cell-12 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-3 .u-table-cell-13 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-3 .u-table-cell-14 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-3 .u-table-cell-15 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-block-2813-45 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-block-2813-46 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-block-2813-59 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-3 .u-btn-1 {
  font-size: 1rem;
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 19px 91px 19px auto;
  padding: 17px 53px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-3 .u-table-1 {
    width: 940px;
  }

  .u-section-3 .u-btn-1 {
    border-style: none;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-table-1 {
    width: 540px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 193px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-table-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-3 .u-btn-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 946px;
}

.u-section-4 .u-group-1 {
  width: 623px;
  min-height: 558px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 96px 0 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 40px 30px 195px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

.u-section-4 .u-form-1 {
  margin: 20px auto 0;
}

.u-section-4 .u-form-group-1 {
  width: 100%;
}

.u-section-4 .u-form-group-2 {
  width: 100%;
}

.u-section-4 .u-form-group-3 {
  width: 100%;
}

.u-section-4 .u-form-group-4 {
  width: 100%;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-4 .u-image-1 {
  width: 498px;
  height: 610px;
  margin: -494px auto 0 108px;
}

.u-section-4 .u-list-1 {
  width: 905px;
  margin: -20px 72px 31px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
  min-height: 165px;
  grid-auto-columns: 50%;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 37px 30px 0;
}

.u-section-4 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 0 0 40px;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 37px 30px 12px;
}

.u-section-4 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 0 0 40px;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-list-1 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 416px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: 174px;
  }
}